<div class="header-section">
    <img src="../../../assets/omnifood-logo.png" class="logo" alt="omni-food-logo">
    <nav class="omni-food-navbar">
        <ul class="nav-main">
            <li><a href="#" class="nav-main-link">section 1</a></li>
            <li><a href="#" class="nav-main-link">section 2</a></li>
            <li><a href="#" class="nav-main-link">section 3</a></li>
            <li><a href="#" class="nav-main-link">section 4</a></li>
            <li><a href="#" class="nav-main-link nav-cta">section 5</a></li>
        </ul>
    </nav>
</div>
